[run]
omit =
    documentcheckertool/interfaces/*
    documentcheckertool/cli.py
    documentcheckertool/logging_config.py
    documentcheckertool/utils/formatting.py
    documentcheckertool/docs/*
    documentcheckertool/document_checker.py
    documentcheckertool/models/__init__.py
    documentcheckertool/utils/terminology_utils.py
    documentcheckertool/constants.py
    documentcheckertool/utils/metadata_utils.py
    documentcheckertool/utils/check_discovery.py
    documentcheckertool/checks/reference_checks.py
    documentcheckertool/processing.py
    documentcheckertool/checks/readability_checks.py
    documentcheckertool/checks/acronym_checks.py
    documentcheckertool/checks/base_checker.py
    documentcheckertool/checks/format_checks.py
    documentcheckertool/checks/heading_checks.py
    documentcheckertool/checks/structure_checks.py
    documentcheckertool/checks/accessibility_checks.py

[report]
exclude_lines =
    if __name__ == .__main__.: 
    pragma: no cover
