[run]
omit =
    govdocverify/cli.py
    govdocverify/logging_config.py
    govdocverify/utils/formatting.py
    govdocverify/docs/*
    govdocverify/document_checker.py
    govdocverify/models/__init__.py
    govdocverify/utils/terminology_utils.py
    govdocverify/constants.py
    govdocverify/utils/metadata_utils.py
    govdocverify/utils/check_discovery.py
    govdocverify/checks/reference_checks.py
    govdocverify/processing.py
    govdocverify/checks/readability_checks.py
    govdocverify/checks/acronym_checks.py
    govdocverify/checks/base_checker.py
    govdocverify/checks/format_checks.py
    govdocverify/checks/heading_checks.py
    govdocverify/checks/structure_checks.py
    govdocverify/checks/accessibility_checks.py

[report]
exclude_lines =
    if __name__ == .__main__.: 
    pragma: no cover
